@using bookstore.Models
@model ApplicationUser

<form asp-controller="Account" asp-action="Signup" method="post">
    <div>
        <label asp-for="Username">Username</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="FullName">Full Name</label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>

    <button type="submit">Signup</button>
</form>
