@model ebookings.Models.Book

@{
    ViewData["Title"] = "Create Book";
}

<div class="container mt-5">
    <h1 class="mb-4">Create Book</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input asp-for="Title" id="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Author">Author</label>
                    <input asp-for="Author" id="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Publisher">Publisher</label>
                    <input asp-for="Publisher" id="Publisher" class="form-control" />
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="PublicationDate">Publication Date</label>
                    <input asp-for="PublicationDate" id="PublicationDate" class="form-control" type="date" />
                    <span asp-validation-for="PublicationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ISBN">ISBN</label>
                    <input asp-for="ISBN" id="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Edition">Edition</label>
                    <input asp-for="Edition" id="Edition" class="form-control" />
                    <span asp-validation-for="Edition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input asp-for="Price" id="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Availability" value="true" />
                <input type="hidden" asp-for="CustomerReviews" value="default" />
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
